# Covid - 19 Forecast and analysis

Covid - 19 has been spreading rapidly in the state of Tamil Nadu, India. 

We will analyze the timeline and will forecast new Covid - 19 positive cases in Tamil Nadu.

In [4]:
from opencage.geocoder import OpenCageGeocode

import pandas as pd
data = pd.read_html("https://en.wikipedia.org/wiki/COVID-19_pandemic_in_Tamil_Nadu")
print(len(data))

48

In [5]:
print(data)

[    0                                                  1
0 NaN  It has been suggested that COVID-19 pandemic i...,                       COVID-19 pandemic in Tamil Nadu  \
0   Map of confirmed cases per million (ten lakh) ...
1   Confirmed cases map Map of confirmed cases by ...
2                                 Confirmed cases map
3                                                 NaN
4                  Map of confirmed cases by district
5   Active cases map Map of districts with number ...
6                                    Active cases map
7                                                 NaN
8        Map of districts with number of active cases
9                                             Disease
10                                       Virus strain
11                                           Location
12                                     First outbreak
13                                         Index case
14                                       Arrival date
15                                    Confirmed cases
16                                       Active cases
17                                          Recovered
18                                             Deaths
19                                      Fatality rate
20                                        Territories
21                                 Government website
22  stopcorona.tn.gov.inTamil Nadu COVID-19 Public...

                    COVID-19 pandemic in Tamil Nadu.1
0   Map of confirmed cases per million (ten lakh) ...
1   Confirmed cases map Map of confirmed cases by ...
2                                 Confirmed cases map
3                                                 NaN
4                  Map of confirmed cases by district
5   Active cases map Map of districts with number ...
6                                    Active cases map
7                                                 NaN
8        Map of districts with number of active cases
9                                            COVID-19
10                                         SARS-CoV-2
11                                  Tamil Nadu, India
12                                Wuhan, Hubei, China
13                                            Chennai
14                  7 March 2020(3 months and 4 days)
15                              38,716 (11 June 2020)
16                                     17,659[note 1]
17                              20,705 (11 June 2020)
18                                 349 (11 June 2020)
19                                                NaN
20                           All 37 districts[note 2]
21                                 Government website
22  stopcorona.tn.gov.inTamil Nadu COVID-19 Public...  ,                   Confirmed cases map               Confirmed cases map.1
0                                 NaN                                 NaN
1  Map of confirmed cases by district  Map of confirmed cases by district,                                Active cases map  \
0                                           NaN
1  Map of districts with number of active cases

                             Active cases map.1
0                                           NaN
1  Map of districts with number of active cases  ,    COVID-19 cases in Tamil Nadu, India (vte) Deaths Recoveries Active cases Mar Mar Apr Apr May May Jun Jun Last 15 days Last 15 days  \
0                                                Date
1                                          2020-03-07
2                                          2020-03-08
3                                          2020-03-09
4                                          2020-03-10
..                                                ...
88                                         2020-06-08
89                                         2020-06-09
90                                         2020-06-10
91                                         2020-06-11
92  Source: stopcorona.tn.gov.in. Note: On 18 Apri...

   COVID-19 cases in Tamil Nadu, India (vte) Deaths Recoveries Active cases Mar Mar Apr Apr May May Jun Jun Last 15 days Last 15 days.1  \
0                                                Date
1                                          2020-03-07
2                                          2020-03-08
3                                          2020-03-09
4                                          2020-03-10
..                                                ...
88                                         2020-06-08
89                                         2020-06-09
90                                         2020-06-10
91                                         2020-06-11
92  Source: stopcorona.tn.gov.in. Note: On 18 Apri...

   COVID-19 cases in Tamil Nadu, India (vte) Deaths Recoveries Active cases Mar Mar Apr Apr May May Jun Jun Last 15 days Last 15 days.2  \
0                                                 NaN
1                                                   ​
2                                                   ​
3                                                   ​
4                                                   ​
..                                                ...
88                                              ​ ​ ​
89                                              ​ ​ ​
90                                              ​ ​ ​
91                                              ​ ​ ​
92  Source: stopcorona.tn.gov.in. Note: On 18 Apri...

   COVID-19 cases in Tamil Nadu, India (vte) Deaths Recoveries Active cases Mar Mar Apr Apr May May Jun Jun Last 15 days Last 15 days.3  \
0                                          # of cases
1                                             1(n.a.)
2                                                1(=)
3                                                1(=)
4                                                1(=)
..                                                ...
88                                      33,229(+4.9%)
89                                      34,914(+5.1%)
90                                      36,841(+5.5%)
91                                      38,716(+5.1%)
92  Source: stopcorona.tn.gov.in. Note: On 18 Apri...

   COVID-19 cases in Tamil Nadu, India (vte) Deaths Recoveries Active cases Mar Mar Apr Apr May May Jun Jun Last 15 days Last 15 days.4
0                                         # of deaths
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
..                                                ...
88                                         286(+6.3%)
89                                         307(+7.3%)
90                                         326(+6.2%)
91                                         349(+7.1%)
92  Source: stopcorona.tn.gov.in. Note: On 18 Apri...

[93 rows x 5 columns],    Major events in COVID19 pandemic in Tamil Nadu till 30 April  \
0                                            07 March
1                                            15 March
2                                            20 March
3                                            22 March
4                                            24 March
5                                            25 March
6                                            31 March
7                                            11 April
8                                            12 April
9                                            14 April
10                                           15 April
11                                           21 April
12                                           25 April
13                                           26 April
14                                           28 April

   Major events in COVID19 pandemic in Tamil Nadu till 30 April.1
0                                First confirmed case
1   Closure of commercial establishments, schools ...
2                                State borders closed
3                          Janta Curfew - Nation wide
4                                 Section 144 imposed
5   First reported death Nationwide lockdown impos...
6   100 confirmed cases First case identified from...
7                                  10 reported deaths
8                                1000 confirmed cases
9             Nationwide lockdown extended till 3 May
10                            100 reported recoveries
11                            500 reported recoveries
12         Reported recoveries surpassed active cases
13                           1000 reported recoveries
14            25 reported deaths 2000 confirmed cases              ,   Major events in COVID19 pandemic in Tamil Nadu since 30 April  \
0                                  First week of May
1                                              2 May
2                                              3 May
3                                              5 May
4                                              6 May
5                                              8 May
6                                             11 May
7                                             15 May
8                                             29 May
9                                             6 June

  Major events in COVID19 pandemic in Tamil Nadu since 30 April.1
0  Koyambedu Wholesale Market Complex cluster ide...
1            Active cases again surpasses recoveries
2                               3000 confirmed cases
3                               4000 confirmed cases
4                           1500 reported recoveries
5                               5000 confirmed cases
6                               8000 confirmed cases
7                              10000 confirmed cases
8                              20000 confirmed cases
9                              30000 confirmed cases               ,                                                     0  \
0   .mw-parser-output #covid19-container{box-sizin...
1   [show all]viewtalkeditCOVID-19 pandemic in Tam...
2                                            District
3                                          Tamil Nadu
4                                            Ariyalur
5                                        Chengalpattu
6                                             Chennai
7                                          Coimbatore
8                                           Cuddalore
9                                          Dharmapuri
10                                           Dindigul
11                                              Erode
12                                       Kallakurichi
13                                       Kancheepuram
14                                        Kanyakumari
15                                              Karur
16                                        Krishnagiri
17                                            Madurai
18                                    Nagapattinam[c]
19                                           Namakkal
20                                           Nilgiris
21                                         Perambalur
22                                        Pudukkottai
23                                     Ramanathapuram
24                                            Ranipet
25                                              Salem
26                                         Sivagangai
27                                            Tenkasi
28                                          Thanjavur
29                                              Theni
30                                        Tirunelveli
31                                         Tirupattur
32                                           Tiruppur
33                                         Tiruvallur
34                                     Tiruvannamalai
35                                          Tiruvarur
36                                    Tiruchirappalli
37                                        Thoothukudi
38                                            Vellore
39                                        Villuppuram
40                                       Virudhunagar
41                              As of 11 June 2020[1]
42  Notes ^ Airport, seaport and railway station q...

                                                    1  \
0   @media all and (max-width:720px){body.skin-min...
1   [show all]viewtalkeditCOVID-19 pandemic in Tam...
2                                  Diagnosed cases[a]
3                                               38716
4                                                 387
5                                                2444
6                                               27398
7                                                 170
8                                                 517
9                                                  23
10                                                196
11                                                 74
12                                                303
13                                                623
14                                                108
15                                                 87
16                                                 38
17                                                363
18                                                105
19                                                 90
20                                                 15
21                                                145
22                                                 45
23                                                133
24                                                185
25                                                222
26                                                 50
27                                                111
28                                                133
29                                                137
30                                                410
31                                                 43
32                                                114
33                                               1656
34                                                565
35                                                 99
36                                                142
37                                                379
38                                                131
39                                                399
40                                                154
41                              As of 11 June 2020[1]
42  Notes ^ Airport, seaport and railway station q...

                                                    2  \
0                                                 NaN
1   [show all]viewtalkeditCOVID-19 pandemic in Tam...
2                                              Deaths
3                                                 349
4                                                   0
5                                                  20
6                                                 279
7                                                   1
8                                                   1
9                                                   0
10                                                  2
11                                                  1
12                                                  0
13                                                  6
14                                                  1
15                                                  0
16                                                  0
17                                                  3
18                                                  0
19                                                  1
20                                                  0
21                                                  0
22                                                  1
23                                                  1
24                                                  1
25                                                  0
26                                                  0
27                                                  0
28                                                  0
29                                                  2
30                                                  1
31                                                  0
32                                                  0
33                                                 16
34                                                  2
35                                                  0
36                                                  1
37                                                  2
38                                                  3
39                                                  3
40                                                  0
41                              As of 11 June 2020[1]
42  Notes ^ Airport, seaport and railway station q...

                                                    3  \
0                                                 NaN
1   [show all]viewtalkeditCOVID-19 pandemic in Tam...
2                                     Recovered cases
3                                               20705
4                                                 363
5                                                 903
6                                               13808
7                                                 148
8                                                 455
9                                                   8
10                                                143
11                                                 70
12                                                243
13                                                378
14                                                 67
15                                                 80
16                                                 21
17                                                254
18                                                 51
19                                                 79
20                                                 14
21                                                141
22                                                 26
23                                                 73
24                                                 99
25                                                182
26                                                 33
27                                                 88
28                                                 89
29                                                106
30                                                360
31                                                 33
32                                                114
33                                                807
34                                                346
35                                                 47
36                                                104
37                                                252
38                                                 43
39                                                333
40                                                127
41                              As of 11 June 2020[1]
42  Notes ^ Airport, seaport and railway station q...

                                                    4  \
0                                                 NaN
1   [show all]viewtalkeditCOVID-19 pandemic in Tam...
2                                     Active cases[b]
3                                               17659
4                                                  24
5                                                1521
6                                               13311
7                                                  21
8                                                  61

In [6]:
data[7]

,0,1,2,3,4,5,6,7,8
0,.mw-parser-output #covid19-container{box-sizin...,@media all and (max-width:720px){body.skin-min...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...
2,District,Diagnosed cases[a],Deaths,Recovered cases,Active cases[b],Population,Cases per M,Last case reported on,NaN
3,Tamil Nadu,38716,349,20705,17659,72147030,537,11 June 2020,NaN
4,Ariyalur,387,0,363,24,752481,514,11 June 2020,NaN
5,Chengalpattu,2444,20,903,1521,2556423,956,11 June 2020,NaN
6,Chennai,27398,279,13808,13311,7088000,3865,11 June 2020,NaN
7,Coimbatore,170,1,148,21,3172578,54,11 June 2020,NaN
8,Cuddalore,517,1,455,61,2600880,199,11 June 2020,NaN
9,Dharmapuri,23,0,8,15,1502900,15,10 June 2020,NaN
10,Dindigul,196,2,143,51,2161367,91,11 June 2020,NaN
11,Erode,74,1,70,3,2259608,33,10 June 2020,NaN
12,Kallakurichi,303,0,243,60,548950,552,11 June 2020,NaN
13,Kancheepuram,623,6,378,239,1863174,334,11 June 2020,NaN
14,Kanyakumari,108,1,67,40,1441829,75,11 June 2020,NaN
15,Karur,87,0,80,7,1076588,81,6 June 2020,NaN
16,Krishnagiri,38,0,21,17,1883731,20,10 June 2020,NaN
17,Madurai,363,3,254,106,2441038,149,11 June 2020,NaN
18,Nagapattinam[c],105,0,51,54,"1,614,069‬",65,11 June 2020,NaN
19,Namakkal,90,1,79,10,1721179,52,11 June 2020,NaN
20,Nilgiris,15,0,14,1,735071,20,1 June 2020,NaN
21,Perambalur,145,0,141,4,564511,257,11 June 2020,NaN
22,Pudukkottai,45,1,26,18,1618725,28,10 June 2020,NaN
23,Ramanathapuram,133,1,73,59,1337560,99,11 June 2020,NaN
24,Ranipet,185,1,99,85,1210277,153,11 June 2020,NaN
25,Salem,222,0,182,40,3480008,64,11 June 2020,NaN
26,Sivagangai,50,0,33,17,1341250,37,11 June 2020,NaN
27,Tenkasi,111,0,88,23,1407627,79,11 June 2020,NaN
28,Thanjavur,133,0,89,29,2302781,58,11 June 2020,NaN
29,Theni,137,2,106,29,1143684,120,11 June 2020,NaN
30,Tirunelveli,410,1,360,49,1738376,236,11 June 2020,NaN
31,Tirupattur,43,0,33,10,2713858,16,11 June 2020,NaN
32,Tiruppur,114,0,114,0,1670608,68,2 May 2020,NaN
33,Tiruvallur,1656,16,807,833,1111812,1489,11 June 2020,NaN
34,Tiruvannamalai,565,2,346,217,2471222,229,11 June 2020,NaN
35,Tiruvarur,99,0,47,52,3725697,27,11 June 2020,NaN
36,Tiruchirappalli,142,1,104,37,2464875,58,11 June 2020,NaN
37,Thoothukudi,379,2,252,125,1268094,299,11 June 2020,NaN
38,Vellore,131,3,43,85,1614242,81,11 June 2020,NaN
39,Villuppuram,399,3,333,63,295687,1349,11 June 2020,NaN
40,Virudhunagar,154,0,127,27,1943309,79,11 June 2020,NaN
41,As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1]
42,"Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q..."

In [7]:
tn = data[4]

In [8]:
tn.shape

(93, 5)

In [9]:
tn

,"COVID-19 cases in Tamil Nadu, India (vte) Deaths Recoveries Active cases Mar Mar Apr Apr May May Jun Jun Last 15 days Last 15 days","COVID-19 cases in Tamil Nadu, India (vte) Deaths Recoveries Active cases Mar Mar Apr Apr May May Jun Jun Last 15 days Last 15 days.1","COVID-19 cases in Tamil Nadu, India (vte) Deaths Recoveries Active cases Mar Mar Apr Apr May May Jun Jun Last 15 days Last 15 days.2","COVID-19 cases in Tamil Nadu, India (vte) Deaths Recoveries Active cases Mar Mar Apr Apr May May Jun Jun Last 15 days Last 15 days.3","COVID-19 cases in Tamil Nadu, India (vte) Deaths Recoveries Active cases Mar Mar Apr Apr May May Jun Jun Last 15 days Last 15 days.4"
0,Date,Date,NaN,# of cases,# of deaths
1,2020-03-07,2020-03-07,​,1(n.a.),NaN
2,2020-03-08,2020-03-08,​,1(=),NaN
3,2020-03-09,2020-03-09,​,1(=),NaN
4,2020-03-10,2020-03-10,​,1(=),NaN
...,...,...,...,...,...
88,2020-06-08,2020-06-08,​ ​ ​,"33,229(+4.9%)",286(+6.3%)
89,2020-06-09,2020-06-09,​ ​ ​,"34,914(+5.1%)",307(+7.3%)
90,2020-06-10,2020-06-10,​ ​ ​,"36,841(+5.5%)",326(+6.2%)
91,2020-06-11,2020-06-11,​ ​ ​,"38,716(+5.1%)",349(+7.1%)
92,Source: stopcorona.tn.gov.in. Note: On 18 Apri...,Source: stopcorona.tn.gov.in. Note: On 18 Apri...,Source: stopcorona.tn.gov.in. Note: On 18 Apri...,Source: stopcorona.tn.gov.in. Note: On 18 Apri...,Source: stopcorona.tn.gov.in. Note: On 18 Apri...

In [10]:
new_header= ['Date','Date2','NA', '# of cases', '# of deaths']

In [11]:
print(new_header)

['Date', 'Date2', 'NA', '# of cases', '# of deaths']

In [12]:
tn.columns = new_header

In [13]:
tn

,Date,Date2,NA,# of cases,# of deaths
0,Date,Date,NaN,# of cases,# of deaths
1,2020-03-07,2020-03-07,​,1(n.a.),NaN
2,2020-03-08,2020-03-08,​,1(=),NaN
3,2020-03-09,2020-03-09,​,1(=),NaN
4,2020-03-10,2020-03-10,​,1(=),NaN
...,...,...,...,...,...
88,2020-06-08,2020-06-08,​ ​ ​,"33,229(+4.9%)",286(+6.3%)
89,2020-06-09,2020-06-09,​ ​ ​,"34,914(+5.1%)",307(+7.3%)
90,2020-06-10,2020-06-10,​ ​ ​,"36,841(+5.5%)",326(+6.2%)
91,2020-06-11,2020-06-11,​ ​ ​,"38,716(+5.1%)",349(+7.1%)
92,Source: stopcorona.tn.gov.in. Note: On 18 Apri...,Source: stopcorona.tn.gov.in. Note: On 18 Apri...,Source: stopcorona.tn.gov.in. Note: On 18 Apri...,Source: stopcorona.tn.gov.in. Note: On 18 Apri...,Source: stopcorona.tn.gov.in. Note: On 18 Apri...

In [14]:
tn.drop(["NA"], axis = 1, inplace = True)
tn

,Date,Date2,# of cases,# of deaths
0,Date,Date,# of cases,# of deaths
1,2020-03-07,2020-03-07,1(n.a.),NaN
2,2020-03-08,2020-03-08,1(=),NaN
3,2020-03-09,2020-03-09,1(=),NaN
4,2020-03-10,2020-03-10,1(=),NaN
...,...,...,...,...
88,2020-06-08,2020-06-08,"33,229(+4.9%)",286(+6.3%)
89,2020-06-09,2020-06-09,"34,914(+5.1%)",307(+7.3%)
90,2020-06-10,2020-06-10,"36,841(+5.5%)",326(+6.2%)
91,2020-06-11,2020-06-11,"38,716(+5.1%)",349(+7.1%)
92,Source: stopcorona.tn.gov.in. Note: On 18 Apri...,Source: stopcorona.tn.gov.in. Note: On 18 Apri...,Source: stopcorona.tn.gov.in. Note: On 18 Apri...,Source: stopcorona.tn.gov.in. Note: On 18 Apri...

In [15]:
tn.drop(tn.tail(1).index,inplace=True)
tn.drop(tn.head(1).index,inplace=True)
tn

          Date       Date2     # of cases # of deaths
1   2020-03-07  2020-03-07        1(n.a.)         NaN
2   2020-03-08  2020-03-08           1(=)         NaN
3   2020-03-09  2020-03-09           1(=)         NaN
4   2020-03-10  2020-03-10           1(=)         NaN
5            ⋮           ⋮           1(=)         NaN
..         ...         ...            ...         ...
87  2020-06-07  2020-06-07    31,667(+5%)  269(+7.2%)
88  2020-06-08  2020-06-08  33,229(+4.9%)  286(+6.3%)
89  2020-06-09  2020-06-09  34,914(+5.1%)  307(+7.3%)
90  2020-06-10  2020-06-10  36,841(+5.5%)  326(+6.2%)
91  2020-06-11  2020-06-11  38,716(+5.1%)  349(+7.1%)

[91 rows x 4 columns]

In [16]:
tn.drop(["Date2"], axis=1, inplace = True)
tn

          Date     # of cases # of deaths
1   2020-03-07        1(n.a.)         NaN
2   2020-03-08           1(=)         NaN
3   2020-03-09           1(=)         NaN
4   2020-03-10           1(=)         NaN
5            ⋮           1(=)         NaN
..         ...            ...         ...
87  2020-06-07    31,667(+5%)  269(+7.2%)
88  2020-06-08  33,229(+4.9%)  286(+6.3%)
89  2020-06-09  34,914(+5.1%)  307(+7.3%)
90  2020-06-10  36,841(+5.5%)  326(+6.2%)
91  2020-06-11  38,716(+5.1%)  349(+7.1%)

[91 rows x 3 columns]

In [17]:
tn[['No of cases','Change']] = tn["# of cases"].str.split("(",expand=True)
tn

          Date     # of cases # of deaths No of cases  Change
1   2020-03-07        1(n.a.)         NaN           1   n.a.)
2   2020-03-08           1(=)         NaN           1      =)
3   2020-03-09           1(=)         NaN           1      =)
4   2020-03-10           1(=)         NaN           1      =)
5            ⋮           1(=)         NaN           1      =)
..         ...            ...         ...         ...     ...
87  2020-06-07    31,667(+5%)  269(+7.2%)      31,667    +5%)
88  2020-06-08  33,229(+4.9%)  286(+6.3%)      33,229  +4.9%)
89  2020-06-09  34,914(+5.1%)  307(+7.3%)      34,914  +5.1%)
90  2020-06-10  36,841(+5.5%)  326(+6.2%)      36,841  +5.5%)
91  2020-06-11  38,716(+5.1%)  349(+7.1%)      38,716  +5.1%)

[91 rows x 5 columns]

In [18]:
tn.drop(["# of cases"], axis = 1, inplace = True)
tn

          Date # of deaths No of cases  Change
1   2020-03-07         NaN           1   n.a.)
2   2020-03-08         NaN           1      =)
3   2020-03-09         NaN           1      =)
4   2020-03-10         NaN           1      =)
5            ⋮         NaN           1      =)
..         ...         ...         ...     ...
87  2020-06-07  269(+7.2%)      31,667    +5%)
88  2020-06-08  286(+6.3%)      33,229  +4.9%)
89  2020-06-09  307(+7.3%)      34,914  +5.1%)
90  2020-06-10  326(+6.2%)      36,841  +5.5%)
91  2020-06-11  349(+7.1%)      38,716  +5.1%)

[91 rows x 4 columns]

In [19]:
tn['Change'] = tn['Change'].map(lambda x: x.lstrip('+').rstrip('%)'))
tn

          Date # of deaths No of cases Change
1   2020-03-07         NaN           1   n.a.
2   2020-03-08         NaN           1      =
3   2020-03-09         NaN           1      =
4   2020-03-10         NaN           1      =
5            ⋮         NaN           1      =
..         ...         ...         ...    ...
87  2020-06-07  269(+7.2%)      31,667      5
88  2020-06-08  286(+6.3%)      33,229    4.9
89  2020-06-09  307(+7.3%)      34,914    5.1
90  2020-06-10  326(+6.2%)      36,841    5.5
91  2020-06-11  349(+7.1%)      38,716    5.1

[91 rows x 4 columns]

In [21]:
tn[['No of deaths','DeathChange']] = tn["# of deaths"].str.split("(",expand=True)
tn

          Date # of deaths No of cases Change No of deaths DeathChange
1   2020-03-07         NaN           1   n.a.          NaN         NaN
2   2020-03-08         NaN           1      =          NaN         NaN
3   2020-03-09         NaN           1      =          NaN         NaN
4   2020-03-10         NaN           1      =          NaN         NaN
5            ⋮         NaN           1      =          NaN         NaN
..         ...         ...         ...    ...          ...         ...
87  2020-06-07  269(+7.2%)      31,667      5          269      +7.2%)
88  2020-06-08  286(+6.3%)      33,229    4.9          286      +6.3%)
89  2020-06-09  307(+7.3%)      34,914    5.1          307      +7.3%)
90  2020-06-10  326(+6.2%)      36,841    5.5          326      +6.2%)
91  2020-06-11  349(+7.1%)      38,716    5.1          349      +7.1%)

[91 rows x 6 columns]

In [22]:
tn.drop(["# of deaths"], axis = 1, inplace = True)
tn

          Date No of cases Change No of deaths DeathChange
1   2020-03-07           1   n.a.          NaN         NaN
2   2020-03-08           1      =          NaN         NaN
3   2020-03-09           1      =          NaN         NaN
4   2020-03-10           1      =          NaN         NaN
5            ⋮           1      =          NaN         NaN
..         ...         ...    ...          ...         ...
87  2020-06-07      31,667      5          269      +7.2%)
88  2020-06-08      33,229    4.9          286      +6.3%)
89  2020-06-09      34,914    5.1          307      +7.3%)
90  2020-06-10      36,841    5.5          326      +6.2%)
91  2020-06-11      38,716    5.1          349      +7.1%)

[91 rows x 5 columns]

In [31]:
tn.drop(["DeathChange"], axis = 1, inplace = True)
tn

          Date No of cases Change No of deaths
1   2020-03-07           1   n.a.          NaN
2   2020-03-08           1      =          NaN
3   2020-03-09           1      =          NaN
4   2020-03-10           1      =          NaN
5            ⋮           1      =          NaN
..         ...         ...    ...          ...
86  2020-06-06      30,152    5.1          251
87  2020-06-07      31,667      5          269
88  2020-06-08      33,229    4.9          286
89  2020-06-09      34,914    5.1          307
90  2020-06-10      36,841    5.5          326

[90 rows x 4 columns]

In [23]:
tn.describe()

              Date No of cases Change No of deaths DeathChange
count           91          91     91           79          79
unique          91          86     60           61          47
top     2020-04-12           1      =            1          =)
freq             1           5      5           10          18

In [24]:
tn["Change"].describe()

count     91
unique    60
top        =
freq       5
Name: Change, dtype: object

In [40]:
tn.groupby("Change").count()

        Date  No of cases  No of deaths
Change
10         1            1             1
100        2            2             0
11         5            5             5
12         1            1             1
13         1            1             1
14         1            1             1
17         2            2             1
18         2            2             2
19         2            2             2
2          1            1             1
2.1        1            1             1
2.6        1            1             1
2.8        1            1             1
2.9        1            1             1
26         1            1             1
29         1            1             0
3.2        1            1             1
3.3        1            1             1
3.5        1            1             1
3.7        1            1             1
3.8        2            2             2
31         1            1             1
32         1            1             1
33         1            1             1
34         1            1             1
4.3        1            1             1
4.4        1            1             1
4.5        3            3             3
4.6        3            3             3
4.7        1            1             1
4.8        2            2             2
4.9        3            3             3
5          2            2             2
5.1        4            4             4
5.2        2            2             2
5.3        2            2             2
5.4        1            1             1
5.5        1            1             1
5.6        1            1             1
5.8        1            1             1
5.9        2            2             2
50         1            1             0
53         1            1             1
6          2            2             2
6.2        1            1             1
6.4        1            1             1
67         1            1             0
7          1            1             1
7.4        1            1             1
7.7        1            1             1
8.7        1            1             1
8.8        2            2             2
8.9        1            1             1
85         1            1             1
89         1            1             1
9.1        2            2             2
9.2        1            1             1
9.6        1            1             1
=          5            5             0
n.a.       1            1             0

In [25]:
tn['Change'].mask(tn['Change'] == 'n.a.', '0', inplace=True)
tn['Change'].mask(tn['Change'] == '=', '0', inplace=True)
tn.groupby("Change").count()

        Date  No of cases  No of deaths  DeathChange
Change
0          6            6             0            0
10         1            1             1            1
100        2            2             0            0
11         5            5             5            5
12         1            1             1            1
13         1            1             1            1
14         1            1             1            1
17         2            2             1            1
18         2            2             2            2
19         2            2             2            2
2          1            1             1            1
2.1        1            1             1            1
2.6        1            1             1            1
2.8        1            1             1            1
2.9        1            1             1            1
26         1            1             1            1
29         1            1             0            0
3.2        1            1             1            1
3.3        1            1             1            1
3.5        1            1             1            1
3.7        1            1             1            1
3.8        2            2             2            2
31         1            1             1            1
32         1            1             1            1
33         1            1             1            1
34         1            1             1            1
4.3        1            1             1            1
4.4        1            1             1            1
4.5        3            3             3            3
4.6        3            3             3            3
4.7        1            1             1            1
4.8        2            2             2            2
4.9        3            3             3            3
5          2            2             2            2
5.1        5            5             5            5
5.2        2            2             2            2
5.3        2            2             2            2
5.4        1            1             1            1
5.5        1            1             1            1
5.6        1            1             1            1
5.8        1            1             1            1
5.9        2            2             2            2
50         1            1             0            0
53         1            1             1            1
6          2            2             2            2
6.2        1            1             1            1
6.4        1            1             1            1
67         1            1             0            0
7          1            1             1            1
7.4        1            1             1            1
7.7        1            1             1            1
8.7        1            1             1            1
8.8        2            2             2            2
8.9        1            1             1            1
85         1            1             1            1
89         1            1             1            1
9.1        2            2             2            2
9.2        1            1             1            1
9.6        1            1             1            1

In [26]:
tn.count()

Date            91
No of cases     91
Change          91
No of deaths    79
DeathChange     79
dtype: int64

In [27]:
tn["No of deaths"] = tn["No of deaths"].fillna(0)
tn

          Date No of cases Change No of deaths DeathChange
1   2020-03-07           1      0            0         NaN
2   2020-03-08           1      0            0         NaN
3   2020-03-09           1      0            0         NaN
4   2020-03-10           1      0            0         NaN
5            ⋮           1      0            0         NaN
..         ...         ...    ...          ...         ...
87  2020-06-07      31,667      5          269      +7.2%)
88  2020-06-08      33,229    4.9          286      +6.3%)
89  2020-06-09      34,914    5.1          307      +7.3%)
90  2020-06-10      36,841    5.5          326      +6.2%)
91  2020-06-11      38,716    5.1          349      +7.1%)

[91 rows x 5 columns]

In [28]:
tn.to_excel("tn_output.xlsx")

In [29]:
tn_dist = data[7]

In [30]:
tn_dist

,0,1,2,3,4,5,6,7,8
0,.mw-parser-output #covid19-container{box-sizin...,@media all and (max-width:720px){body.skin-min...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...
2,District,Diagnosed cases[a],Deaths,Recovered cases,Active cases[b],Population,Cases per M,Last case reported on,NaN
3,Tamil Nadu,38716,349,20705,17659,72147030,537,11 June 2020,NaN
4,Ariyalur,387,0,363,24,752481,514,11 June 2020,NaN
5,Chengalpattu,2444,20,903,1521,2556423,956,11 June 2020,NaN
6,Chennai,27398,279,13808,13311,7088000,3865,11 June 2020,NaN
7,Coimbatore,170,1,148,21,3172578,54,11 June 2020,NaN
8,Cuddalore,517,1,455,61,2600880,199,11 June 2020,NaN
9,Dharmapuri,23,0,8,15,1502900,15,10 June 2020,NaN
10,Dindigul,196,2,143,51,2161367,91,11 June 2020,NaN
11,Erode,74,1,70,3,2259608,33,10 June 2020,NaN
12,Kallakurichi,303,0,243,60,548950,552,11 June 2020,NaN
13,Kancheepuram,623,6,378,239,1863174,334,11 June 2020,NaN
14,Kanyakumari,108,1,67,40,1441829,75,11 June 2020,NaN
15,Karur,87,0,80,7,1076588,81,6 June 2020,NaN
16,Krishnagiri,38,0,21,17,1883731,20,10 June 2020,NaN
17,Madurai,363,3,254,106,2441038,149,11 June 2020,NaN
18,Nagapattinam[c],105,0,51,54,"1,614,069‬",65,11 June 2020,NaN
19,Namakkal,90,1,79,10,1721179,52,11 June 2020,NaN
20,Nilgiris,15,0,14,1,735071,20,1 June 2020,NaN
21,Perambalur,145,0,141,4,564511,257,11 June 2020,NaN
22,Pudukkottai,45,1,26,18,1618725,28,10 June 2020,NaN
23,Ramanathapuram,133,1,73,59,1337560,99,11 June 2020,NaN
24,Ranipet,185,1,99,85,1210277,153,11 June 2020,NaN
25,Salem,222,0,182,40,3480008,64,11 June 2020,NaN
26,Sivagangai,50,0,33,17,1341250,37,11 June 2020,NaN
27,Tenkasi,111,0,88,23,1407627,79,11 June 2020,NaN
28,Thanjavur,133,0,89,29,2302781,58,11 June 2020,NaN
29,Theni,137,2,106,29,1143684,120,11 June 2020,NaN
30,Tirunelveli,410,1,360,49,1738376,236,11 June 2020,NaN
31,Tirupattur,43,0,33,10,2713858,16,11 June 2020,NaN
32,Tiruppur,114,0,114,0,1670608,68,2 May 2020,NaN
33,Tiruvallur,1656,16,807,833,1111812,1489,11 June 2020,NaN
34,Tiruvannamalai,565,2,346,217,2471222,229,11 June 2020,NaN
35,Tiruvarur,99,0,47,52,3725697,27,11 June 2020,NaN
36,Tiruchirappalli,142,1,104,37,2464875,58,11 June 2020,NaN
37,Thoothukudi,379,2,252,125,1268094,299,11 June 2020,NaN
38,Vellore,131,3,43,85,1614242,81,11 June 2020,NaN
39,Villuppuram,399,3,333,63,295687,1349,11 June 2020,NaN
40,Virudhunagar,154,0,127,27,1943309,79,11 June 2020,NaN
41,As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1]
42,"Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q..."

In [33]:
new_header1= ['District', 'Cases', 'Deaths','Recovered', 'Active', 'Population','Cases per M', 'Last case','NA']
tn_dist.columns = new_header1
tn_dist

,District,Cases,Deaths,Recovered,Active,Population,Cases per M,Last case,NA
0,.mw-parser-output #covid19-container{box-sizin...,@media all and (max-width:720px){body.skin-min...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...
2,District,Diagnosed cases[a],Deaths,Recovered cases,Active cases[b],Population,Cases per M,Last case reported on,NaN
3,Tamil Nadu,38716,349,20705,17659,72147030,537,11 June 2020,NaN
4,Ariyalur,387,0,363,24,752481,514,11 June 2020,NaN
5,Chengalpattu,2444,20,903,1521,2556423,956,11 June 2020,NaN
6,Chennai,27398,279,13808,13311,7088000,3865,11 June 2020,NaN
7,Coimbatore,170,1,148,21,3172578,54,11 June 2020,NaN
8,Cuddalore,517,1,455,61,2600880,199,11 June 2020,NaN
9,Dharmapuri,23,0,8,15,1502900,15,10 June 2020,NaN
10,Dindigul,196,2,143,51,2161367,91,11 June 2020,NaN
11,Erode,74,1,70,3,2259608,33,10 June 2020,NaN
12,Kallakurichi,303,0,243,60,548950,552,11 June 2020,NaN
13,Kancheepuram,623,6,378,239,1863174,334,11 June 2020,NaN
14,Kanyakumari,108,1,67,40,1441829,75,11 June 2020,NaN
15,Karur,87,0,80,7,1076588,81,6 June 2020,NaN
16,Krishnagiri,38,0,21,17,1883731,20,10 June 2020,NaN
17,Madurai,363,3,254,106,2441038,149,11 June 2020,NaN
18,Nagapattinam[c],105,0,51,54,"1,614,069‬",65,11 June 2020,NaN
19,Namakkal,90,1,79,10,1721179,52,11 June 2020,NaN
20,Nilgiris,15,0,14,1,735071,20,1 June 2020,NaN
21,Perambalur,145,0,141,4,564511,257,11 June 2020,NaN
22,Pudukkottai,45,1,26,18,1618725,28,10 June 2020,NaN
23,Ramanathapuram,133,1,73,59,1337560,99,11 June 2020,NaN
24,Ranipet,185,1,99,85,1210277,153,11 June 2020,NaN
25,Salem,222,0,182,40,3480008,64,11 June 2020,NaN
26,Sivagangai,50,0,33,17,1341250,37,11 June 2020,NaN
27,Tenkasi,111,0,88,23,1407627,79,11 June 2020,NaN
28,Thanjavur,133,0,89,29,2302781,58,11 June 2020,NaN
29,Theni,137,2,106,29,1143684,120,11 June 2020,NaN
30,Tirunelveli,410,1,360,49,1738376,236,11 June 2020,NaN
31,Tirupattur,43,0,33,10,2713858,16,11 June 2020,NaN
32,Tiruppur,114,0,114,0,1670608,68,2 May 2020,NaN
33,Tiruvallur,1656,16,807,833,1111812,1489,11 June 2020,NaN
34,Tiruvannamalai,565,2,346,217,2471222,229,11 June 2020,NaN
35,Tiruvarur,99,0,47,52,3725697,27,11 June 2020,NaN
36,Tiruchirappalli,142,1,104,37,2464875,58,11 June 2020,NaN
37,Thoothukudi,379,2,252,125,1268094,299,11 June 2020,NaN
38,Vellore,131,3,43,85,1614242,81,11 June 2020,NaN
39,Villuppuram,399,3,333,63,295687,1349,11 June 2020,NaN
40,Virudhunagar,154,0,127,27,1943309,79,11 June 2020,NaN
41,As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1]
42,"Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q..."

In [34]:
tn_dist

,District,Cases,Deaths,Recovered,Active,Population,Cases per M,Last case,NA
0,.mw-parser-output #covid19-container{box-sizin...,@media all and (max-width:720px){body.skin-min...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...,[show all]viewtalkeditCOVID-19 pandemic in Tam...
2,District,Diagnosed cases[a],Deaths,Recovered cases,Active cases[b],Population,Cases per M,Last case reported on,NaN
3,Tamil Nadu,38716,349,20705,17659,72147030,537,11 June 2020,NaN
4,Ariyalur,387,0,363,24,752481,514,11 June 2020,NaN
5,Chengalpattu,2444,20,903,1521,2556423,956,11 June 2020,NaN
6,Chennai,27398,279,13808,13311,7088000,3865,11 June 2020,NaN
7,Coimbatore,170,1,148,21,3172578,54,11 June 2020,NaN
8,Cuddalore,517,1,455,61,2600880,199,11 June 2020,NaN
9,Dharmapuri,23,0,8,15,1502900,15,10 June 2020,NaN
10,Dindigul,196,2,143,51,2161367,91,11 June 2020,NaN
11,Erode,74,1,70,3,2259608,33,10 June 2020,NaN
12,Kallakurichi,303,0,243,60,548950,552,11 June 2020,NaN
13,Kancheepuram,623,6,378,239,1863174,334,11 June 2020,NaN
14,Kanyakumari,108,1,67,40,1441829,75,11 June 2020,NaN
15,Karur,87,0,80,7,1076588,81,6 June 2020,NaN
16,Krishnagiri,38,0,21,17,1883731,20,10 June 2020,NaN
17,Madurai,363,3,254,106,2441038,149,11 June 2020,NaN
18,Nagapattinam[c],105,0,51,54,"1,614,069‬",65,11 June 2020,NaN
19,Namakkal,90,1,79,10,1721179,52,11 June 2020,NaN
20,Nilgiris,15,0,14,1,735071,20,1 June 2020,NaN
21,Perambalur,145,0,141,4,564511,257,11 June 2020,NaN
22,Pudukkottai,45,1,26,18,1618725,28,10 June 2020,NaN
23,Ramanathapuram,133,1,73,59,1337560,99,11 June 2020,NaN
24,Ranipet,185,1,99,85,1210277,153,11 June 2020,NaN
25,Salem,222,0,182,40,3480008,64,11 June 2020,NaN
26,Sivagangai,50,0,33,17,1341250,37,11 June 2020,NaN
27,Tenkasi,111,0,88,23,1407627,79,11 June 2020,NaN
28,Thanjavur,133,0,89,29,2302781,58,11 June 2020,NaN
29,Theni,137,2,106,29,1143684,120,11 June 2020,NaN
30,Tirunelveli,410,1,360,49,1738376,236,11 June 2020,NaN
31,Tirupattur,43,0,33,10,2713858,16,11 June 2020,NaN
32,Tiruppur,114,0,114,0,1670608,68,2 May 2020,NaN
33,Tiruvallur,1656,16,807,833,1111812,1489,11 June 2020,NaN
34,Tiruvannamalai,565,2,346,217,2471222,229,11 June 2020,NaN
35,Tiruvarur,99,0,47,52,3725697,27,11 June 2020,NaN
36,Tiruchirappalli,142,1,104,37,2464875,58,11 June 2020,NaN
37,Thoothukudi,379,2,252,125,1268094,299,11 June 2020,NaN
38,Vellore,131,3,43,85,1614242,81,11 June 2020,NaN
39,Villuppuram,399,3,333,63,295687,1349,11 June 2020,NaN
40,Virudhunagar,154,0,127,27,1943309,79,11 June 2020,NaN
41,As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1],As of 11 June 2020[1]
42,"Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q...","Notes ^ Airport, seaport and railway station q..."

In [35]:
tn_dist.drop(["NA"], axis = 1, inplace = True)
tn_dist.drop(tn_dist.tail(2).index,inplace=True)
tn_dist.drop(tn_dist.head(3).index,inplace=True)
tn_dist

,District,Cases,Deaths,Recovered,Active,Population,Cases per M,Last case
3,Tamil Nadu,38716,349,20705,17659,72147030,537,11 June 2020
4,Ariyalur,387,0,363,24,752481,514,11 June 2020
5,Chengalpattu,2444,20,903,1521,2556423,956,11 June 2020
6,Chennai,27398,279,13808,13311,7088000,3865,11 June 2020
7,Coimbatore,170,1,148,21,3172578,54,11 June 2020
8,Cuddalore,517,1,455,61,2600880,199,11 June 2020
9,Dharmapuri,23,0,8,15,1502900,15,10 June 2020
10,Dindigul,196,2,143,51,2161367,91,11 June 2020
11,Erode,74,1,70,3,2259608,33,10 June 2020
12,Kallakurichi,303,0,243,60,548950,552,11 June 2020
13,Kancheepuram,623,6,378,239,1863174,334,11 June 2020
14,Kanyakumari,108,1,67,40,1441829,75,11 June 2020
15,Karur,87,0,80,7,1076588,81,6 June 2020
16,Krishnagiri,38,0,21,17,1883731,20,10 June 2020
17,Madurai,363,3,254,106,2441038,149,11 June 2020
18,Nagapattinam[c],105,0,51,54,"1,614,069‬",65,11 June 2020
19,Namakkal,90,1,79,10,1721179,52,11 June 2020
20,Nilgiris,15,0,14,1,735071,20,1 June 2020
21,Perambalur,145,0,141,4,564511,257,11 June 2020
22,Pudukkottai,45,1,26,18,1618725,28,10 June 2020
23,Ramanathapuram,133,1,73,59,1337560,99,11 June 2020
24,Ranipet,185,1,99,85,1210277,153,11 June 2020
25,Salem,222,0,182,40,3480008,64,11 June 2020
26,Sivagangai,50,0,33,17,1341250,37,11 June 2020
27,Tenkasi,111,0,88,23,1407627,79,11 June 2020
28,Thanjavur,133,0,89,29,2302781,58,11 June 2020
29,Theni,137,2,106,29,1143684,120,11 June 2020
30,Tirunelveli,410,1,360,49,1738376,236,11 June 2020
31,Tirupattur,43,0,33,10,2713858,16,11 June 2020
32,Tiruppur,114,0,114,0,1670608,68,2 May 2020
33,Tiruvallur,1656,16,807,833,1111812,1489,11 June 2020
34,Tiruvannamalai,565,2,346,217,2471222,229,11 June 2020
35,Tiruvarur,99,0,47,52,3725697,27,11 June 2020
36,Tiruchirappalli,142,1,104,37,2464875,58,11 June 2020
37,Thoothukudi,379,2,252,125,1268094,299,11 June 2020
38,Vellore,131,3,43,85,1614242,81,11 June 2020
39,Villuppuram,399,3,333,63,295687,1349,11 June 2020
40,Virudhunagar,154,0,127,27,1943309,79,11 June 2020

In [36]:
tn_dist.iloc[0]

District         Tamil Nadu
Cases                 38716
Deaths                  349
Recovered             20705
Active                17659
Population         72147030
Cases per M             537
Last case      11 June 2020
Name: 3, dtype: object

In [37]:
tn_total=tn_dist.iloc[0]

In [38]:
tn_total

District         Tamil Nadu
Cases                 38716
Deaths                  349
Recovered             20705
Active                17659
Population         72147030
Cases per M             537
Last case      11 June 2020
Name: 3, dtype: object

In [40]:
tn_dist.drop(tn_dist.head(1).index,inplace=True)
tn_dist

,District,Cases,Deaths,Recovered,Active,Population,Cases per M,Last case
4,Ariyalur,387,0,363,24,752481,514,11 June 2020
5,Chengalpattu,2444,20,903,1521,2556423,956,11 June 2020
6,Chennai,27398,279,13808,13311,7088000,3865,11 June 2020
7,Coimbatore,170,1,148,21,3172578,54,11 June 2020
8,Cuddalore,517,1,455,61,2600880,199,11 June 2020
9,Dharmapuri,23,0,8,15,1502900,15,10 June 2020
10,Dindigul,196,2,143,51,2161367,91,11 June 2020
11,Erode,74,1,70,3,2259608,33,10 June 2020
12,Kallakurichi,303,0,243,60,548950,552,11 June 2020
13,Kancheepuram,623,6,378,239,1863174,334,11 June 2020
14,Kanyakumari,108,1,67,40,1441829,75,11 June 2020
15,Karur,87,0,80,7,1076588,81,6 June 2020
16,Krishnagiri,38,0,21,17,1883731,20,10 June 2020
17,Madurai,363,3,254,106,2441038,149,11 June 2020
18,Nagapattinam[c],105,0,51,54,"1,614,069‬",65,11 June 2020
19,Namakkal,90,1,79,10,1721179,52,11 June 2020
20,Nilgiris,15,0,14,1,735071,20,1 June 2020
21,Perambalur,145,0,141,4,564511,257,11 June 2020
22,Pudukkottai,45,1,26,18,1618725,28,10 June 2020
23,Ramanathapuram,133,1,73,59,1337560,99,11 June 2020
24,Ranipet,185,1,99,85,1210277,153,11 June 2020
25,Salem,222,0,182,40,3480008,64,11 June 2020
26,Sivagangai,50,0,33,17,1341250,37,11 June 2020
27,Tenkasi,111,0,88,23,1407627,79,11 June 2020
28,Thanjavur,133,0,89,29,2302781,58,11 June 2020
29,Theni,137,2,106,29,1143684,120,11 June 2020
30,Tirunelveli,410,1,360,49,1738376,236,11 June 2020
31,Tirupattur,43,0,33,10,2713858,16,11 June 2020
32,Tiruppur,114,0,114,0,1670608,68,2 May 2020
33,Tiruvallur,1656,16,807,833,1111812,1489,11 June 2020
34,Tiruvannamalai,565,2,346,217,2471222,229,11 June 2020
35,Tiruvarur,99,0,47,52,3725697,27,11 June 2020
36,Tiruchirappalli,142,1,104,37,2464875,58,11 June 2020
37,Thoothukudi,379,2,252,125,1268094,299,11 June 2020
38,Vellore,131,3,43,85,1614242,81,11 June 2020
39,Villuppuram,399,3,333,63,295687,1349,11 June 2020
40,Virudhunagar,154,0,127,27,1943309,79,11 June 2020

In [41]:
tn_dist.to_excel("tn_dist_output.xlsx")

In [44]:
from opencage.geocoder import OpenCageGeocode
key = 'b80ee70222614176a9cde2d275cfc6dd'  # get api key from:  https://opencagedata.com

geocoder = OpenCageGeocode(key)

query = 'Coimbatore, Tamil Nadu'  
#Bijuesca, Spain
results = geocoder.geocode(query)

print (results)

[{'annotations': {'DMS': {'lat': "11° 0' 6.52140'' N", 'lng': "76° 57' 46.23300'' E"}, 'MGRS': '43PGN1446616881', 'Maidenhead': 'MK81la50mk', 'Mercator': {'x': 8567464.437, 'y': 1224163.145}, 'OSM': {'edit_url': 'https://www.openstreetmap.org/edit?node=245589078#map=17/11.00181/76.96284', 'note_url': 'https://www.openstreetmap.org/note/new#map=17/11.00181/76.96284&layers=N', 'url': 'https://www.openstreetmap.org/?mlat=11.00181&mlon=76.96284#map=17/11.00181/76.96284'}, 'UN_M49': {'regions': {'ASIA': '142', 'IN': '356', 'SOUTHERN_ASIA': '034', 'WORLD': '001'}, 'statistical_groupings': ['LEDC']}, 'callingcode': 91, 'currency': {'alternate_symbols': ['Rs', '৳', '૱', '௹', 'रु', '₨'], 'decimal_mark': '.', 'html_entity': '&#x20b9;', 'iso_code': 'INR', 'iso_numeric': '356', 'name': 'Indian Rupee', 'smallest_denomination': 50, 'subunit': 'Paisa', 'subunit_to_unit': 100, 'symbol': '₹', 'symbol_first': 1, 'thousands_separator': ','}, 'flag': '🇮🇳', 'geohash': 't9ywx6fdhnqccj8zfdx7', 'qibla': 291.1, 'roadinfo': {'drive_on': 'left', 'speed_in': 'km/h'}, 'sun': {'rise': {'apparent': 1591835400, 'astronomical': 1591917120, 'civil': 1591834020, 'nautical': 1591918800}, 'set': {'apparent': 1591881240, 'astronomical': 1591885860, 'civil': 1591882620, 'nautical': 1591884240}}, 'timezone': {'name': 'Asia/Kolkata', 'now_in_dst': 0, 'offset_sec': 19800, 'offset_string': '+0530', 'short_name': 'IST'}, 'what3words': {'words': 'game.nightcap.battling'}, 'wikidata': 'Q9885'}, 'bounds': {'northeast': {'lat': 11.1618115, 'lng': 77.1228425}, 'southwest': {'lat': 10.8418115, 'lng': 76.8028425}}, 'components': {'ISO_3166-1_alpha-2': 'IN', 'ISO_3166-1_alpha-3': 'IND', '_category': 'place', '_type': 'city', 'city': 'Coimbatore', 'continent': 'Asia', 'country': 'India', 'country_code': 'in', 'county': 'Coimbatore North', 'postcode': '641001', 'state': 'Tamil Nadu', 'state_code': 'TN', 'state_district': 'Coimbatore district'}, 'confidence': 3, 'formatted': 'Coimbatore, Coimbatore North, India', 'geometry': {'lat': 11.0018115, 'lng': 76.9628425}}]

In [45]:
list_lat = []   # create empty lists

list_long = []



for index, row in tn_dist.iterrows(): # iterate over rows in dataframe



    City = row['District']
    
    query = str(City)+', Tamil Nadu'

    results = geocoder.geocode(query)   
    lat = results[0]['geometry']['lat']
    long = results[0]['geometry']['lng']

    list_lat.append(lat)
    list_long.append(long)

# create new columns from lists    

tn_dist['lat'] = list_lat   

tn_dist['lon'] = list_long

In [47]:
tn_dist

,District,Cases,Deaths,Recovered,Active,Population,Cases per M,Last case,lat,lon
4,Ariyalur,387,0,363,24,752481,514,11 June 2020,11.076036,79.117455
5,Chengalpattu,2444,20,903,1521,2556423,956,11 June 2020,12.766574,79.999319
6,Chennai,27398,279,13808,13311,7088000,3865,11 June 2020,13.080172,80.283833
7,Coimbatore,170,1,148,21,3172578,54,11 June 2020,11.001812,76.962842
8,Cuddalore,517,1,455,61,2600880,199,11 June 2020,11.742694,79.750306
9,Dharmapuri,23,0,8,15,1502900,15,10 June 2020,12.096805,78.193043
10,Dindigul,196,2,143,51,2161367,91,11 June 2020,10.330330,78.067398
11,Erode,74,1,70,3,2259608,33,10 June 2020,11.369204,77.676627
12,Kallakurichi,303,0,243,60,548950,552,11 June 2020,11.794685,79.038821
13,Kancheepuram,623,6,378,239,1863174,334,11 June 2020,12.879605,79.704276
14,Kanyakumari,108,1,67,40,1441829,75,11 June 2020,8.079252,77.549934
15,Karur,87,0,80,7,1076588,81,6 June 2020,10.930152,78.084855
16,Krishnagiri,38,0,21,17,1883731,20,10 June 2020,12.518883,78.220654
17,Madurai,363,3,254,106,2441038,149,11 June 2020,9.926115,78.114098
18,Nagapattinam[c],105,0,51,54,"1,614,069‬",65,11 June 2020,11.000000,78.333330
19,Namakkal,90,1,79,10,1721179,52,11 June 2020,11.219132,78.237398
20,Nilgiris,15,0,14,1,735071,20,1 June 2020,11.400000,76.700000
21,Perambalur,145,0,141,4,564511,257,11 June 2020,11.228772,78.818256
22,Pudukkottai,45,1,26,18,1618725,28,10 June 2020,10.500000,78.833333
23,Ramanathapuram,133,1,73,59,1337560,99,11 June 2020,9.389552,78.859071
24,Ranipet,185,1,99,85,1210277,153,11 June 2020,12.927264,79.333008
25,Salem,222,0,182,40,3480008,64,11 June 2020,11.661201,78.160250
26,Sivagangai,50,0,33,17,1341250,37,11 June 2020,9.965060,78.720428
27,Tenkasi,111,0,88,23,1407627,79,11 June 2020,9.094075,77.475837
28,Thanjavur,133,0,89,29,2302781,58,11 June 2020,10.786027,79.138150
29,Theni,137,2,106,29,1143684,120,11 June 2020,9.969664,77.474200
30,Tirunelveli,410,1,360,49,1738376,236,11 June 2020,8.808234,77.811484
31,Tirupattur,43,0,33,10,2713858,16,11 June 2020,12.498356,78.561817
32,Tiruppur,114,0,114,0,1670608,68,2 May 2020,10.783227,77.526048
33,Tiruvallur,1656,16,807,833,1111812,1489,11 June 2020,13.139436,79.907304
34,Tiruvannamalai,565,2,346,217,2471222,229,11 June 2020,12.227213,79.070155
35,Tiruvarur,99,0,47,52,3725697,27,11 June 2020,10.774598,79.627972
36,Tiruchirappalli,142,1,104,37,2464875,58,11 June 2020,10.804973,78.687030
37,Thoothukudi,379,2,252,125,1268094,299,11 June 2020,8.805260,78.145274
38,Vellore,131,3,43,85,1614242,81,11 June 2020,12.794811,79.000641
39,Villuppuram,399,3,333,63,295687,1349,11 June 2020,11.000000,78.333330
40,Virudhunagar,154,0,127,27,1943309,79,11 June 2020,9.520894,77.878456

In [48]:
tn_dist.to_excel("tn_dist_output.xlsx")